/* Global override */
html,body,h1,,h3,h4,p,div,a,ul,li,span {
    margin: 0;
    padding: 0;
}
html,body{
    height:100%;
    width:100%;
}
body{
    position:relative;
}
.parent{
    position:absolute;
    top:100px;
    bottom:100px;
    width:100%;
}
#red{
    background:red;
    height:100px;
}
#yellow{
    background:yellow;
    width:33.3333%;
    height:100%;
    float:left;
}
#green{
    background:green;
    width:33.3333%;
    height:100%;
    float:left;
}
#blue{
    background:blue;
    width:33.3333%;
    height:100%;
    float:left;
}
#purple{
    background:purple;
    position:absolute;
    width:100%;
    height:100px;
    bottom:0;
}



